@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

:root {
    --barColors: #fffeff;
    --height: 95vh;
}


body {
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
    padding-top: 15px;
    background: linear-gradient(114deg, #ebe9f1, #d4d2d9, #bcbac1);
    background-size: 1000% 1000%;
    color: white;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

.fixed {
    position: fixed;
    height: 100%;


}

.leftbar {
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5px;
    width: 80px;
    background: var(--barColors);

}

.container {
    flex: 1;
    overflow: scroll;
    padding: 6px;
    padding-top: 10px;
    background: #f8f6fa;
    margin-top: 5px;
    display: flex;
    color: black;
    flex-direction: column;
}

.container::-webkit-scrollbar {
    display: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-ac {
    align-items: center;
}

.flex-jc {
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

.rightbar {
    padding-top: 10px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--barColors);
    color: black;
    margin-top: 5px;
}

.flex svg {
    margin-bottom: 5px;
}

.rightbar iframe {
    border: 0;
    height: 80vh;
}


.menus {
    padding: 8px;
    position: absolute;
    top: 15%;
    border-radius: 20px;
    color: #000;
    background: rgb(194, 191, 191, 0.3);
}

.menus svg {
    width: 30px;
    height: 30px;
}

.hover-red {
    color: #000;
}

.hover-red:hover {
    color: #448aff;
}

.root {
    display: flex;
    height: var(--height);
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
}

.app-card {

    background: rgb(194, 191, 191, 0.3);
    padding: 2px;
    margin: 5px;
    border-radius: 7px;
    font-weight: bold;
}

.traveler {
    left: 6px;
    top: 21px;
    width: 99.2%;
    border-radius: 10px;
    height: 95.5%;
    position: fixed;
    /* background: #000; */
    z-index: -1;
    /* z-index: 123; */
    overflow: hidden;


}


.block {
    left: 100%;
    /* gradient background */
    background: linear-gradient(90deg, #361d81, red, var(--barColors));
    display: block;
    width: 100%;
    height: 100%;
    -webkit-animation: o-rotate-360 linear 8s infinite;
    /* animation: o-rotate-360 linear 8s infinite; */
    ;

}

@-webkit-keyframes o-rotate-360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes o-rotate-360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}